@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
}

/* Colors */
:root {
    
/* Primary */
    --Soft-red: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);

/* Neutral */
    --Dark-brown: hsl(25, 47%, 15%);
    --Medium-brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Very-pale-orange: hsl(33, 100%, 98%);
}
html, body {
    width: 100%;
    height: 100vh;
    background-color: var(--Cream);
    margin: 0;
    padding: 0;
}
.container {
    width: 375px;
    margin: 5rem auto;
}
.header {
    border: 1px solid var(--Soft-red);
    border-radius: 10px;
    background-color: var(--Soft-red);
    margin-bottom: 1rem;
    padding: 5px 20px;
    color: var(--Cream);
}
.header p {
    font-size: x-small;
    margin-bottom: -5px;
}
.header span {
    font-size: x-large;
    font-weight: 700;
}
.header img {
    width: 60px;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: 170px;
}
.main-chart {
    border: 1px solid var(--Very-pale-orange);
    border-radius: 10px;
    background-color: var(--Very-pale-orange);
    margin-bottom: 2rem;
    padding: 20px;
}
.main-chart > span {
    font-size: x-large;
    font-weight: 700;
}
.bar-chart {
    height: 10rem;
    display: flex;
}
.bar-chart-title {
    display: flex;
}
.bar-chart-bottom {
    display: flex;
    justify-content: space-between;
}
.bar-chart-bottom p {
    font-size: x-small;
}
.bar-chart-bottom .bold {
    font-weight: bolder;
}
.bar-title {
    padding: 0 6px 0 4px;
    margin-top: -5px;
    color: rgb(167, 161, 161);
    margin-right: 18px;
    font-size: small;
}
.bar {
    background-color: var(--Soft-red);
    border-radius: 5px;
    padding: 19px;
    margin-right: 10px;
    margin-top: 30px;
}
.bar-mon {
    height: 10px;
    margin-top: 130px;
}
.bar-tue {
    height: 80px;
    margin-top: 88px;
}
.bar-wed {
    height: 120px;
    background-color: var(--Cyan);
    margin-top: 48px;
}
.bar-thu {
    height: 70px;
    margin-top: 98px;
}
.bar-fri {
    height: 60px;
    margin-top: 108px;
}
.bar-sat {
    height: 90px;
    margin-top: 78px;
}
.bar-sun {
    height: 50px;
    margin-top: 118px;
}
hr {
    color: rgb(167, 161, 161);
    background-color: rgb(167, 161, 161);
}
.right p {
    margin-bottom: 0;
}
.right>span {
    font-size: x-large;
}
.left span {
    font-size: x-small;
}
.left .bold {
    margin-top: 20px;
    margin-bottom: -7px;
}
.footer {
    font-size: 10px;
    margin-top: 10rem;
    margin-bottom: 0;
}
.attribution {  
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
    font-size: 10px;
}

/* active states */

.bar:hover {
    cursor: pointer;
}
.bar-mon:hover, .bar-tue:hover, .bar-thu:hover, .bar-fri:hover, .bar-sat:hover, .bar-sun:hover {
    background-color: hsl(10, 71%, 76%);
}
.bar-wed:hover {
    background-color: hsl(186, 51%, 78%);
}